ul.menu_horizontal {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

ul.menu_horizontal li {
  display: flex;
}

ul.menu_horizontal li a {
  display: flex;
  padding: 23px;
  color: #00ccff;
  background: #4f8563;
  text-decoration: none;
}
ul.menu_horizontal li a:hover {
  background: #f8f392;
}
